.presence-container {
  position: relative;
  width: 100%;
  height: auto;
  z-index: 1;
}

.presence-base,
.presence-reveal {
  width: 100%;
  max-height: 400px;
  object-fit: contain;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  pointer-events: none; /* Allow clicks to pass through */
}

.fade-in {
  opacity: 1;
  transition: opacity 1s ease-in;
  z-index: 2;
}

.fade-out {
  opacity: 0;
  transition: opacity 1s ease-out;
}
